
    <table class="table table-bordered">
{% for file in files %}
<tr>
    <th>id файла</th>
    <th>файл</th>

</tr>
<tr>
    <td>{{ file.id}}</td>
    <td><img style="width:50px; object-fit: cover;" src="{{ file.file_path }}" alt=""></td>

</tr>
{% else %}
    Вы еще не загружали файлы.
{% endfor %}
</table>





<h2>Пользователь {{ login }}</h2>

<form action="/users/save_file" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="login" value="{{ login }}">
     <input type="file" name="upload_file" id="upload_file">
    <br>
    <button type="submit">Загрузить</button>
</form>




